.underclothe-title{
    line-height: 30px;
}
.underclothe-title:hover p{
    color: #2F80ED;
}

.underclothe-container {
    width: 100%;
    padding-top: 80px;
  }

  .product-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 1fr));
    gap: 25px; 
    justify-content: center;
  }